{% comment %} {% extends "admin.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="content">
    <h1>{{judul}}</h1>
    <br/>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{judul}}</h5>
        </div>
     
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Tambah Testimoni</h5>
                        <div class="form-group">
                          <label for="{{ form.nama.id_for_label }}">Nama</label>
                          {{ form.nama }}
                        </div>
                        <div class="form-group">
                          <label for="{{ form.pekerjaan.id_for_label }}">Pekerjaan</label>
                          {{ form.pekerjaan }}
                        </div>
                        <div class="form-group">
                          <label for="{{ form.gambar_testimoni.id_for_label }}">Gambar Testimoni</label>
                          {{ form.gambar_testimoni }}
                        </div>
                        <div class="form-group">
                          <label for="{{ form.deskripsi.id_for_label }}">Deskripsi</label>
                          {{ form.deskripsi }}
                        </div>
                        <div class="form-group form-check">
                            {{ form.aktif }}
                            <label class="form-check-label" for="{{ form.aktif.id_for_label }}">Aktif</label>
                        </div>
                      </div>
                      <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit"> <i class="fas fa-save"></i> Simpan</button>
                        <a href="{% url 'testimoni_admin' %}" class="btn btn-danger"><i class="fa fa-backward"></i> Kembali</a>
                      </div>
                    </div>
                  </form>
                  
                
            </div>
        </div>
       
        
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
       
    </div>
    
    

</div>													
{% endblock content %}
 {% endcomment %}
