{% extends "admin.html" %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="content">
    <h1>{{judul}}</h1>
    {% comment %} <p>Gunakan {{judul}} ini sesuai dengan kebutuhan secara benar dan tepat</p> {% endcomment %}
    <br/>
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{judul}}</h5>
        </div>
        <div class="card">
        <form action="{% url 'deleteproduk_admin' hapus.id %}" method="POST">
            {% csrf_token %} 
            <div class="card-body text-center">
                <h5 class="card-title">Apakah Anda yakin ingin menghapus data {{hapus}}?</h5>
                <p class="card-text">Data yang dihapus tidak dapat dikembalikan.</p>
                <div class="d-flex justify-content-center">
         

                    <input type="submit" class="btn btn-danger mr-3" value="Ya, Hapus">
                    <a href="{% url 'produk_admin'  %}" class="btn btn-secondary">Batalkan</a>
                </div>
            </div>
        </form>

        </div>
        
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
       
    </div>
    
    

</div>													
{% endblock content %}