<ul class="menu-top navbar-nav">
    
    <li class="{% if menu == "beranda" %}nav-link{% endif %}">
        <a href="{% url 'beranda' %}" class="parent">Beranda</a>
      
    </li>

    <li class="{% if menu == "produk" %}nav-link{% endif %}">
        <a href="" class="parent">Produk</a> <div class="dropdown-menu">
            <ul>
                {% for kt in kategori %}
                <li class="item">
                    <a href="{% url 'kategori' kt.slug %}" title="{{kt.nama}}">{{kt.nama}}</a>
                </li>
                {% endfor %}
               
               
            </ul>
        </div>

        
    </li>

    <li class="{% if menu == "profil" %}nav-link{% endif %}">
        <a href="{% url 'profil' %}" class="parent">Profil</a>
        
    </li>

    <li class="{% if menu == "hubungi" %}nav-link{% endif %}">
        <a href="{% url 'hubungi' %}" class="parent">Hubungi Kami</a>
        
    </li>
    {% if user.is_authenticated %}
											{% for group in user.groups.all  %}
												{% if group.name == "administrator" %}
													<li  class="{% if menu == "admin_beranda" %}nav-link{% endif %}">
														<a href="{% url 'beranda_admin' %}" class="parent">Administrator</a>
													</li>
												{% endif %}
												{% if group.name == "custumer" %}
													<li class="{% if menu == "datapembelian" %}nav-link{% endif %}">
														<a href="{% url 'datapembelian' %}" class="parent">Histori</a>
													</li>
													
												
												{% endif %}
												
											{% endfor %}
										{% endif %}
   
   
</ul>