{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- main content -->
<br/>
<br/>


<div class="main-content mb-4" >
    <div id="wrapper-site">
        <div id="content-wrapper">
            
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'beranda' %}">
                                    <span>Beranda</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Halaman Checkout</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
           
            <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">
                                    <div class="col-md-9 check-info">
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3 info">
                                                <span class="step-number"></span>Silakan selesaikan pembelian Anda
                                            </h3>
                                            {% if messages %}
                                    <ul>
                                    {% for message in messages  %}
                                        <li class="{{message.tags}}">{{ message }}</li>
                                       
                                    {% endfor %}
                                    </ul> 
                                {% endif %}
                                        </div>
                                        <div class="content">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active show" id="checkout-guest-form" role="tabpanel">
                                                    <form action="{% url 'checkout' %}" id="customer-form" class="js-customer-form" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{keranjang.get_total_price}}" name="grantotal">
                                                        <div>
                                                            <input type="hidden" name="id_customer" value="">
                                                            <div class="form-group row">
                                                                <label>Pilih Keterangan Jemput atau Antar</label>
                                                                <select class="form-control" id="select_box" name="keterangan">
                                                                    <option value="0">-- Pilih Keterangan --</option>
                                                                    <option value="Jemput">Jemput</option>
                                                                    <option value="Antar">Antar</option>
                                                                </select>
                                                               
                                                            </div>
                                                           
                                                            <div id="Jemput" class="hilang">

                                                            </div>
                            
                                                            <div id="Antar" class="hilang">
                                                                <div class="form-group row">
                                                                    <label for="exampleFormControlTextarea1">Alamat **) </label>
                                                                    <textarea class="form-control" name="alamat_kirim" rows="3"></textarea>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="exampleInputEmail1">No Whatsapp **)</label>
                                                                    <input type="text" class="form-control" name="wa_kirim" placeholder="08xxxxxxxxxx">
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        
                                                        <div class="clearfix">
                                                            <div class="row">
                                                                

                                                                <button class="continue btn btn-primary pull-xs-right" name="Selesai" data-link-action="register-new-customer" type="submit"
                                                                    value="1">
                                                                    Selesai
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-grid-right col-xs-12 col-lg-3">
                                        <div class="cart-summary">
                                            <div class="cart-detailed-totals">
                                                <div class="cart-summary-products">
                                                    <div class="summary-label"></div>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-products">
                                                    <span class="label js-subtotal">
                                                        Total Bahan:
                                                    </span>
                                                    <span class="value">Rp. {{keranjang.get_total_price|intcomma}}</span>
                                                </div>
                                                {% with totail_items=keranjang|length %}
                                                <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                    <span class="label">
                                                        Total Jumlah Bahan:
                                                        
                                                    {% if keranjang|length > 0 %}
                                                    {{ totail_items }}
                                                 
                                                    {% else %}
                                                    0
                                                    {% endif %}
                        
                                                    </span>
                                                    <span class="value">Bahan</span>
                                                    <div>
                                                        <small class="value"></small>
                                                    </div>
                                                </div>
                                                {% endwith %}
                                            </div>
                                        </div>
                                        <div id="block-reassurance">
                                            <ul>
                                                <li>
                                                    <div class="block-reassurance-item">
                                                        
                                                        <img src="{% static 'img/product/check1.png' %}" alt="Jika Pilih <b>dijemput</b> setelah melakukan Pembayaran silakan jemput ke toko Senin - Sabtu / 08.00 - 16.00
                                                        (Kecuali Hari Libur)">
                                                        <span>Jika Pilih <b>dijemput</b> setelah melakukan Pembayaran silakan jemput ke toko Senin - Sabtu / 08.00 - 16.00
                                                            (Kecuali Hari Libur)</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    
                                                    <div class="block-reassurance-item">
                                                        <img src="{% static 'img/product/check2.png' %}" alt="ka Pilih <b>Antar</b> kami pihak toko akan menghubungi Pihak pelanggan terkait biaya Ongkir (Ongkos Kirim)">
                                                        <span>Jika Pilih <b>Antar</b> kami pihak toko akan menghubungi Pihak pelanggan terkait biaya Ongkir (Ongkos Kirim)</span>
                                                    </div>
                                                </li>
                                                {% comment %} <li>
                                                    <div class="block-reassurance-item">
                                                        <img src="{% static 'img/product/check3.png' %}" alt="Kebijakan pengembalian akan di atur jika ada kesepatan sebelumnya">
                                                        <span>Kebijakan pengembalian akan di atur jika ada kesepatan sebelumnya</span>
                                                    </div>
                                                </li> {% endcomment %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#select_box').change(function () {
    var select=$(this).find(':selected').val();        
     $(".hilang").css("display", "none");
     $('#' + select).css("display", "block");
    
            }).change();
    
    
</script>	
{% endblock content %}  